body {
  padding-bottom: 25px;
}

.menu-container {
  width: 80%;
  margin-left: 10%;
}

form {
  margin-top: 3%;
  background-color: #172c40;
  width: 50%;
  margin-left: 25%;
  padding-top: 2%;
  padding-right: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select {
  width: 75%;
  border: 1px solid rgb(17 17 17);
  color: white;
  padding: 2%;
  background-color: rgba(17, 23, 23, 1);
}

.menuDropDown {
  padding: 2%;
  width: 75%;
  margin-bottom: 2%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}

.input-container {
  margin-top: 5px;
}

.inputBox {
  margin-top: 2%;
  margin-bottom: 2%;
}


li {
  width: 100%;
  color: white;
  font-size: 1em;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: none;
}

button {
  background-color: white;
}

input[type="text"] {
  padding: 2%;
  background-color: rgba(17, 23, 23, 1);
  color: white;
  border: solid;
  border-color: rgb(17 17 17);
  width: 75%;
}

input[type="number"] {
  padding: 2%;
  background-color: rgba(17, 23, 23, 1);
  color: white;
  border: solid;
  border-color: rgb(17 17 17);
  width: 75%;
}

textarea {
  background-color: rgba(17, 23, 23, 1);
  color: white;
  border: solid;
  border-color: rgb(17 17 17);
  font-family: Montserrat;
}

.itemText {
  display: table;
  text-align: left;
  margin-bottom: 2px;
}


.buttonRow {
  text-align: center;
  margin-bottom: 10%;
}

.submitButton {
  background-color: transparent;
  font-family: Montserrat;
  color: white;
  border-top: none;
  border-bottom: none;
  width: 116px;
  border-width: 4px;
  margin-left: 15px;
  margin-right: 15px;
  border-color: transparent;
  transition: border-color 0.7s ease-in;
}

.submitButton:hover {
  border-color: white;
}

#menuForm {
  position: relative;
  padding-left: 0%;
  color: white;
}
