body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background-color: rgb(29, 29, 39);
  color: white;
}

li {
  font-size: 120%;
  width: 100%;
  content: "> ";
  color: white;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 15px;
  margin-right: 20px;
}

.inputBox {
  float: right;
}
ul {
  list-style-type: none;
  margin: none;
}

button {
  background-color: white;
}

p {
  color: white;
}

input[type="text"] {
  padding: 5px 5px;
  box-sizing: border-box;
  background-color: rgba(17, 23, 23, 1);
  color: white;
  border: solid;
  border-color: rgb(17 17 17);
}

input[type="number"] {
  padding: 5px 5px;
  box-sizing: border-box;
  background-color: rgba(17, 23, 23, 1);
  color: white;
  border: solid;
  border-color: rgb(17 17 17);
}

textarea {
  background-color: rgba(17, 23, 23, 1);
  color: white;
  border: solid;
  border-color: rgb(17 17 17);
  font-family: Montserrat;
}

select {
  border: 1px solid rgb(17 17 17);

  color: rgba(225, 225, 225, 0.5);
  padding: 4px 4px;
  background-color: rgba(17, 23, 23, 1);
  border-radius: 5px;
}

.inputContainer {
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  top: 20%;
  width: 75%;
  font-size: 70%;
  font-family: Montserrat;
  color: white;
}

.itemText {
  display: table;
  text-align: left;
  width: 20%;
  margin-bottom: 2px;
}

.containerRow {
  margin-left: 0;
  margin-right: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
}

.buttonRow {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

#right {
  display: flex;
  align-items: left;
}
#left {
  display: flex;
  align-items: left;
}

#rightList {
  display: flex;
  width: 50%;
  align-items: left;
}
#leftList {
  width: 50%;
  display: flex;
  align-items: left;
}

.submitButton {
  background-color: transparent;
  font-family: Montserrat;
  color: white;
  border-top: none;
  border-bottom: none;
  width: 116px;
  border-width: 4px;
  margin-left: 15px;
  margin-right: 15px;
  border-color: transparent;
  transition: border-color 0.7s ease-in;
}

.submitButton:hover {
  border-color: white;
}

#menuForm {
  position: relative;
  padding-left: 0%;
  color: white;
}
