body{
    margin: auto;
    padding: 0;
    background-color: rgb(29, 29, 39);
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Montserrat;
    color: aliceblue;
}
small{
    position: relative;
    display: flex;
}
#hint_id_username{
    padding: 5px 5px;
    margin-bottom: 7px;
}
#hint_id_password2{
    padding: 5px 10px;
    margin-bottom: 4px;
}

.center{
    position: absolute;
    align-items: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    background: #15202B    ;
    border: #beddf1 1px solid;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.center h1{
    align-items: center;
    align-content: center;
    text-align: center;
}

.center button {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background:#51308a; 
    border: 1px solid rgb(82, 82, 82); 
    margin-bottom: 3%;
    margin-left: 3%;
    padding: 2%;
    color: white;
    background-size: 100% 200%;
    transition: background-color 1s ease;
}
.center button:hover{
    background-color: #41039f;
}

.form-control {
    width: 700px;
}
#id_username{
    width: 100%;
    margin: 10px 10px;
    padding: 5px 0px;
}
#div_id_username label{
    position: relative;
    margin-left: 10px;
}
#id_email{
    width: 100%;
    margin: 10px 10px;
    padding: 5px 0px;
}
#div_id_email label{
    position: relative;
    margin-left: 10px;
}
#id_password1{
    width: 100%;
    margin: 10px 10px;
    padding: 5px 0px;
}
#div_id_password1 label{
    position: relative;
    margin-left: 10px;
}
#id_password2{
    width: 100%;
    margin: 10px 10px;
    padding: 5px 0px;
}
#div_id_password2 label{
    position: relative;
    margin-left: 10px;
}
#div_id_role{
    width: 80%;
    margin: 10px 10px;
}
#id_role{
    width: 80%;
}
form{
    width: 450px;
    padding: 0 20px;
    margin-right: 20px;
    box-sizing: border-box;
}

form div small{
    display: none;
}
#id_username:valid ~ #hint_id_username,
#id_username:focus ~ #hint_id_username{
    display: block;
}
#id_password1:valid ~ #hint_id_password1,
#id_password1:focus ~ #hint_id_password1{
    display: block;
}
#id_password2:valid ~ #hint_id_password2,
#id_password2:focus ~ #hint_id_password2{
    display: block;
}