body{
    margin: auto;
    padding: 0;
    background-color: rgb(29, 29, 39);
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Montserrat;
    color: aliceblue;
}

input { 
    color: white;
    background-color: rgba(17, 23, 23, 1);
    border-bottom: 1px solid white;
    padding: 5%;
}

.register {
    font-family: Verdana,sans-serif;
    margin-top: 0;
    color: white;
    background-color: #15202B;
    text-align: center;
    padding: 2%;
}

small{
    position: relative;
    display: flex;
}

#hint_id_username{
    padding: 5px 5px;
    margin-bottom: 7px;
}

#hint_id_password2{
    padding: 5px 10px;
    margin-bottom: 4px;
}

.center{
    position: absolute;
    align-items: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    background-color: #172c40;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.center button {
    width: 75%;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background:#51308a; 
    border: 1px solid rgb(82, 82, 82); 
    margin-bottom: 3%;
    margin-left: 3%;
    padding: 2%;
    color: white;
    background-size: 100% 200%;
    transition: background-color 1s ease;
}
.center button:hover{
    background-color: #41039f;
}

.form-control {
    width: 700px;
    padding: 3%;
}

#id_username{
    width: 75%;
    margin: 10px 10px;
    padding: 2%;
}

#div_id_username label{
    position: relative;
    margin-left: 10px;
}

#id_email{
    width: 75%;
    margin: 10px 10px;
    padding: 2%;
}
#div_id_email label{
    position: relative;
    margin-left: 10px;
}

#id_password1{
    width: 75%;
    margin: 10px 10px;
    padding: 2%;
}    

#div_id_password1 label{
    position: relative;
    margin-left: 10px;
}
#id_password2{
    width: 75%;
    margin: 10px 10px;
    padding: 2%;
}
#div_id_password2 label{
    position: relative;
    margin-left: 10px;
}
#div_id_role{
    width: 80%;
    margin: 10px 10px;
}
#id_role{
    width: 80%;
}

form div small{
    display: none;
}

#id_username:valid ~ #hint_id_username,
#id_username:focus ~ #hint_id_username{
    display: block;
}
#id_password1:valid ~ #hint_id_password1,
#id_password1:focus ~ #hint_id_password1{
    display: block;
}
#id_password2:valid ~ #hint_id_password2,
#id_password2:focus ~ #hint_id_password2{
    display: block;
}


form{
    width: 450px;
    margin-left: 10%;
}

input {
    border: none;
    padding: 3%;
    border-bottom: 2px solid grey;
}