{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'profile.css' %}" />

<div class = "profile">
    <div class="description">
        <h2>{{ user.username }} Profile Page</h1>
        <h2 class="description">We offer you the best mexican cuisine around - we would love to serve you!</h2>
    </div>
    
    <br/><br/>

    <p>What would you like to see?</p>

    <div class = "content">
        <div class = "button">
            <a href = "{% url 'userInformation' %}">
                Profile Information
            </a>
        </div>
        <br/><br/>
        <div class = "button">
            <a href = "{% url 'customerOrder' %}">
                View All Orders
            </a>
        </div>
        <br/><br/>
        <div class = "button">
            <a href = "{% url 'userPayments' %}">
                View All Payments
            </a>
        </div>
    </div>

</div>

{% endblock content %}