{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/waiterRequest.css' %}" />

<div class = "request-container">
    {% if Payments %}
        <h1 class = "title">Client Help Requests</h1>
        {% if paymentNum == 1 %}
            <p>You've spent £{{paymentTotal}} with us today on a single order!</p>
        {% else %}
            <p>You've spent £{{paymentTotal}} with us today on {{paymentNum}} orders - averaging at £{{paymentAverage}} per order!</p>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Order ID for Payment</th>
                    <th>Time of Payment</th>
                    <th>Amount Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in Payments %}
                    <tr>
                        <td>{{payment.orderID.ID}}</td>
                        <td>{{payment.timeOfPayment}}</td>
                        <td>£{{payment.paymentAmount}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br/><br/>
        <h2>You currently have no payments!</h2>
    {% endif %}
</div>
{% endblock content %}

