{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>El Plato Dorado</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="navigator">
      <div class="logo">
        <a class="nav-options" href="{% url 'home' %}">El Plato Dorado</a>
      </div>
      {% if user.is_authenticated %}
        <a class="nav-options nav-btn" href="{% url 'account-logout' %}">Logout</a>
      {% else %}
      <a class="nav-options nav-btn" href="{% url 'account-login' %}">Login</a>
      <a class="nav-options nav-btn" href="{% url 'account-signup' %}"
          >Register</a
      >
      {% endif %}
      <a
        class="nav-options nav-btn"
        tabindex="-1"
        onClick="document.getElementById('Menu').scrollIntoView();"
        >Our Menu</a
      >
      <a
        class="nav-options nav-btn"
        tabindex="-1"
        onClick="document.getElementById('about').scrollIntoView();"
        >About Us</a
      >
    </div>

    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }}" role="alert">
        {{ message }}
      </div>
    </div>
    {% endfor %}

    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
