{% extends "base.html" %}{% block content %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
  <link rel="stylesheet" href="{% static 'css/customerOrder.css' %}" />
    <div class="itemsBox">
      <div class="titles">Placed Orders</div>
      <div class="itemRow" style="margin-bottom: 10px">
        <div id="right">
          <text class="itemText">Order Id</text>
          <text class="itemText">Order Status</text>
          <text class="itemText">Time of Order</text>
          <text class="itemText">Item Ids</text>
        </div>
      </div>
      {% for order in Orders %} {% if order.status == "Placed"%}
      <div class="itemRow">
        <div id="right">
          <text class="itemText">{{order.ID}}</text>
          <text class="itemText">{{order.status}}</text>
          <text class="itemText">{{order.timeOfOrder}}</text>
          <text class="itemText">{{order.orderedItems}}</text>
        </div>
        <div id="left"></div>
      </div>
      {% endif %} {% endfor %}

      <div class="titles">Confirmed Orders</div>
      <div class="itemRow" style="margin-bottom: 10px">
        <div id="right">
          <text class="itemText">Order Id</text>
          <text class="itemText">Order Status</text>
          <text class="itemText">Time of Order</text>
          <text class="itemText">Item Ids</text>
        </div>
      </div>
      {% for order in Orders %} {% if order.status == "Confirmed" %}
      <div class="itemRow">
        <div id="right">
          <text class="itemText">{{order.ID}}</text>
          <text class="itemText">{{order.status}}</text>
          <text class="itemText">{{order.timeOfOrder}}</text>
          <text class="itemText">{{order.orderedItems}}</text>
        </div>
        <div id="left"></div>
      </div>
      {% endif %} {% endfor %}
      <div class="titles">Prepared Orders</div>
      <div class="itemRow" style="margin-bottom: 10px">
        <div id="right">
          <text class="itemText">Order Id</text>
          <text class="itemText">Order Status</text>
          <text class="itemText">Time of Order</text>
          <text class="itemText">Item Ids</text>
        </div>
      </div>
      {% for order in Orders %} {% if order.status == "Prepared" %}
      <div class="itemRow">
        <div id="right">
          <text class="itemText">{{order.ID}}</text>
          <text class="itemText">{{order.status}}</text>
          <text class="itemText">{{order.timeOfOrder}}</text>
          <text class="itemText">{{order.orderedItems}}</text>
        </div>
        <div id="left"></div>
      </div>
      {% endif %} {% endfor %}
      <div class="titles">Delivered Orders</div>
      <div class="itemRow" style="margin-bottom: 10px">
        <div id="right">
          <text class="itemText">Order Id</text>
          <text class="itemText">Order Status</text>
          <text class="itemText">Time of Order</text>
          <text class="itemText">Item Ids</text>
        </div>
      </div>
      {% for order in Orders %} {% if order.status == "Delivered"%}
      <div class="itemRow">
        <div id="right">
          <text class="itemText">{{order.ID}}</text>
          <text class="itemText">{{order.status}}</text>
          <text class="itemText">{{order.timeOfOrder}}</text>
          <text class="itemText">{{order.orderedItems}}</text>
        </div>
        <div id="left"></div>
      </div>
      {% endif %} {% endfor %}
    </div>
{% endblock content %}
