{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Homepage Oaxaca</title>
    <script src="{% static 'javascript/animations.js' %}" defer></script>
    <script src="{% static 'javascript/notifications.js' %}" defer></script>
    <script src="{% static 'javascript/logout.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/marquee.css' %}" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />
  </head>

  <body>
    <div class="bg">
      <div class="navbar">
        <div id="left">
          <div class="text">
            <a class="nav-options" href="/">Oaxaca</a>
          </div>
        </div>
        <div id="right">
          {% if user.is_authenticated %} {% if "KitchenStaff" in user_groups %}
          <a class="nav-options nav-btn" href="{% url 'kitchen-order' %}">
            <button class="navButton">
              <div class="text">Kitchen Page</div>
            </button></a
          >
          {% endif %} {% if "Waiters" in user_groups %}
          <a class="nav-options nav-btn" href="{% url 'waiterPage' %}">
            <button class="navButton">
              <div class="text">Waiter Page</div>
            </button></a
          >
          {% endif %}

          <a class="nav-options nav-btn" onclick="showLogoutAlert();" href="{% url 'account-logout' %}">
            <button class="navButton">
              <div class="text">Logout</div>
            </button></a
          >
          <a class="nav-options nav-btn" href="{% url 'account-profile' %}">
            <button class="navButton">
              <div class="text">Profile</div>
            </button></a
          >
          {% else %}
          <a href="/account/login/">
            <button class="navButton">
              <div class="text">Login</div>
            </button>
          </a>
          <a href="/account/signup/">
            <button class="navButton">
              <div class="text">Register</div>
            </button>
          </a>
          {% endif %}

          <button type="button" class="navButton" onclick="scrollToAboutUs();">
            <div class="text">About Us</div>
          </button>
          <a class="nav-options nav-btn" href="{% url 'menu' %}">
            <button class="navButton">
              <div class="text">Our Menu</div>
            </button>
          </a>
        </div>
      </div>

      {% if messages %} {% for message in messages %}
      <div class="pop-message {{ message.tags }}">
        <span class="pop-close-btn" onclick="this.parentElement.style.display='none';">&times;</span> 
        {{ message }}
      </div>
      {% endfor %} {% endif %}

      <div class="logobox">
        <img src="/static/images/OaxacaLogo.png" />
      </div>
    </div>
    <div class="bg2" id="about">
      <div class="dishbox" id="aboutImage"></div>
      <div class="aboutConatiner" id="aboutText">
        <div class="home-sub-title">About Us</div>
        <div class="informationtext">
          Since our modest beginnings in 2001 with a little space in Eghams
          stylish high street, Oaxacas development has been enlivened with the
          energy to cook and serve solid, Mexican fine dining.
        </div>
        <br />
        <br />
      </div>
    </div>
    <div class="customer-reviews-bg">
      <div class="rev-sub-title">Customer Reviews</div>
      <p class="marquee">
        <span>
          &#9733; &#9733; &#9733; &#9733; &#9733; - "Glad Oxaca opened, it's a good place to eat. Food is good, seating is good & so is service. Nothing to complain about."
          &nbsp; &nbsp; &nbsp; &nbsp; &#9733; &#9733; &#9733; &#9733; - "So good we went 3 times while visiting London! You have to try the loaded chips and queso!"
          &nbsp; &nbsp; &nbsp; &nbsp; &#9733; &#9733; &#9733; &#9733; &#9733; - "Expect a warm welcome and a tasty meal at this lovely Mexican restaurant. The food has a home cooked feel."
          &nbsp; &nbsp; &nbsp; &nbsp; &#9733; &#9733; &#9733; &#9733; &#9733; - "Food is always good...atmosphere is great and the wait staff is very friendly. "
          &nbsp; &nbsp; &nbsp; &nbsp; &#9733; &#9733; &#9733; &#9733; - "I really like this place. I think the food is delicious, and the margaritas are even better!"
          &nbsp; &nbsp; &nbsp; &nbsp; &#9733; &#9733; &#9733; &#9733; &#9733; - "Awesome food I love Mexican food!"
        </span>
      </p>
    </div>
    <div class="bg3" id="Menu">
      <div class="dishbox2" id="menuImage"></div>
      <div class="menuConatiner" id="menuText">
        <div class="home-sub-title">Menu</div>
        <div class="informationtext">Checkout our menu now!
           Our dishes are carefully crafted by our expert 
          chefs to provide you with the best dining experience possible.
           From appetizers to desserts, we offer a wide range of options 
           to satisfy any craving.</div>
        <a href="{% url 'menu' %}">
          <button class="home-menu-button">
            <div class="text">View Menu</div>
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
