{% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat" />
  <body style="background-color: #28282b">
    <div class="header"></div>
    <div class="searchBar">
      <input type="text" placeholder="Search Mexican..." required />
    </div>
    <div class="name">
      <p>El Plato Dorado</p>
    </div>
  </body>
</html>
