{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
  <link rel = "stylesheet" href = "{% static 'css/filter.css' %}" />
  <link rel = "stylesheet" href = "{% static 'css/sort.css' %}" />
  <link rel = "stylesheet" href = "{% static 'css/search.css' %}" />
  <script src = "{% static 'javascript/menu-searching.js' %}"></script>
  <script src="{% static 'javascript/test.js' %}"></script>
  <script src = "{% static 'javascript/menu-filtering.js' %}"></script>
  <script src = "{% static 'javascript/menu-sorting.js' %}"></script>
  <!-- "document.getElementById('{{d.getName}}').innerHTML = 'text'" -->
  <title>Document</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat" />
  <body>
    <div class="background">
      <div class="dishbox2">
        <div class = "course" id = "starters">
          <div class="titles"><div class="name">Starters</div></div>
          {% for item in MenuItems %} {% if item.course == "Starter" %}
          <div class="container">
            <div class="header">
              <div class="name">{{item.name}}</div>
              <div class="price">£{{item.price}}</div>
            </div>
            <div class = "details">

              {% for i in item.ingredients %} {{i}} {% endfor %}
  
              <br/>
  
              Calories : {{item.calories}}
  
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>

        <div class = "course" id = "mains">
          <div class="titles"><div class="name">Mains</div></div>
          {% for item in MenuItems %} {% if item.course == "Main" %}
          <div class="container">
            <div class="header">
              <div class="name">{{item.name}}</div>
              <div class="price">£{{item.price}}</div>
            </div>
            <div class = "details">

              {% for i in item.ingredients %} {{i}} {% endfor %}
  
              <br/>
  
              Calories : {{item.calories}}
  
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>

        <div class = "course" id = "sides">
          <div class="titles"><div class="name">Sides</div></div>
          {% for item in MenuItems %} {% if item.course == "Side" %}
          <div class="container">
            <div class="header">
              <div class="name">{{item.name}}</div>
              <div class="price">£{{item.price}}</div>
            </div>
            <div class = "details">

              {% for i in item.ingredients %} {{i}} {% endfor %}
  
              <br/>
  
              Calories : {{item.calories}}
  
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>

        <div class = "course" id = "desserts">
          <div class="titles"><div class="name">Desserts</div></div>
          {% for item in MenuItems %} {% if item.course == "Dessert" %}
          <div class="container">
            <div class="header">
              <div class="name">{{item.name}}</div>
              <div class="price">£{{item.price}}</div>
            </div>
            <div class = "details">

              {% for i in item.ingredients %} {{i}} {% endfor %}
  
              <br/>
  
              Calories : {{item.calories}}
  
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>

        <div class = "course" id = "drink">
          <div class="titles"><div class="name">Drink</div></div>
          {% for item in MenuItems %} {% if item.course == "Drink" %}
          <div class="container">
            <div class="header">
              <div class="name">{{item.name}}</div>
              <div class="price">£{{item.price}}</div>
            </div>
            <div class = "details">

              {% for i in item.ingredients %} {{i}} {% endfor %}
  
              <br/>
  
              Calories : {{item.calories}}
  
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
      <div class = "filter">
        <label for = "filter">Filter by : </label>
        <select name = "filter" id = "filter" onchange = "hide(this)">
          <optgroup label = "Course">
            <option value = "default" selected>Default</option>
            <option value = "starters">Starters</option>
            <option value = "mains">Mains</option>
            <option value = "sides">Sides</option>
            <option value = "desserts">Desserts</option>
            <option value = "drink">Drink</option>
          </optgroup>
          <optgroup label = "Preference">
            <option value = "vegetarian">Vegetarian</option>
            <option value = "non-vegetarian">Non-vegetarian</option>
          </optgroup>
        </select>
      </div>
      <div class = "sort">
        <label for = "sort">Sort by : </label>
        <select name = "sort" id = "sort" onchange = "sort(this)">
          <option value = "none">None</option>
          <optgroup label = "Price">
            <option value = "ltoh">Low to High</option>
            <option value = "htol" selected>High to Low</option>
          </optgroup>
        </select>
      </div>
      <div class = "searchbar">
        <input type = "text" placeholder = "Search menu" oninput = "searchItems(this)" required />
      </div>
    </div>
  </body>
</html>
{% endblock content %}
