{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
  <script src="{% static 'javascript/menu.js' %}"></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <!-- "document.getElementById('{{d.getName}}').innerHTML = 'text'" -->
  <title>Document</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat" />
  <body>
    <div class="background">
      <div class="orderBox" id="orderBox">
        <div class="orderHeader">
          <div class="name" id="name">name</div>
          <div class="cross" onclick="exitpopup()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
              <path
                d="m6.4 18.3-.7-.7 5.6-5.6-5.6-5.6.7-.7 5.6 5.6 5.6-5.6.7.7-5.6 5.6 5.6 5.6-.7.7-5.6-5.6Z"
              />
            </svg>
          </div>
        </div>
        <div class="price" id="price">price</div>
      </div>

      <div class="menuBox" id="menuBox">
        <div class="titles"><div class="name">Starters</div></div>

        {% for item in MenuItems %} {% if item.course == "Starter" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Mains</div></div>

        {% for item in MenuItems %} {% if item.course == "Main" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}
          <br />
          Calories : {{item.calories}}
          <div class="orderingBar">
            <button
              class="orderButton"
              onclick="addItem('{{item.name}}item',-1)"
            >
              -
            </button>
            <text id="{{item.name}}item">0</text>
            <button
              class="orderButton"
              style="float: right"
              onclick="addItem('{{item.name}}item',1)"
            >
              +
            </button>
          </div>
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Sides</div></div>

        {% for item in MenuItems %} {% if item.course == "Side" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Desserts</div></div>

        {% for item in MenuItems %} {% if item.course == "Dessert" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Drink</div></div>

        {% for item in MenuItems %} {% if item.course == "Drink" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </body>
</html>
{% endblock content %}
