{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
  <script src="{% static 'javascript/test.js' %}"></script>
  <script src = "{% static 'javascript/menu-filtering.js' %}"></script>
  <!-- "document.getElementById('{{d.getName}}').innerHTML = 'text'" -->
  <title>Document</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat" />
  <body>
    <div class="background">
      <div class="dishbox2">
        <div class="titles"><div class="name">Starters</div></div>
        {% for item in MenuItems %} {% if item.course == "Starter" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Mains</div></div>
        {% for item in MenuItems %} {% if item.course == "Main" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Sides</div></div>
        {% for item in MenuItems %} {% if item.course == "Side" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Desserts</div></div>
        {% for item in MenuItems %} {% if item.course == "Dessert" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}

        <div class="titles"><div class="name">Drink</div></div>
        {% for item in MenuItems %} {% if item.course == "Drink" %}
        <div class="container">
          <div class="header">
            <div class="name">{{item.name}}</div>
            <div class="price">£{{item.price}}</div>
          </div>
          <br />
          {% for i in item.ingredients %} {{i}} {% endfor %}

          <br />
          Calories : {{item.calories}}
        </div>
        {% endif %} {% endfor %}
      </div>
      <div class = "filter">
        <label for = "filter">Filter by : </label>
        <select name = "filter" id = "filter" onchange = "hideAll()">
          <optgroup label = "Course">
            <option value = "starters">Starters</option>
            <option value = "mains">Mains</option>
            <option value = "sides">Sides</option>
            <option value = "dessert">Desserts</option>
            <option value = "drink">Drink</option>
          </optgroup>
          <optgroup label = "Preference">
            <option value = "vegetarian">Vegetarian</option>
            <option value = "non-vegetarian">Non-vegetarian</option>
          </optgroup>
        </select>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
