{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <script src="{% static 'javascript/menu.js' %}" defer></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <!-- "document.getElementById('{{d.getName}}').innerHTML = 'text'" -->
  <title>Document</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat" />
  <body>
    <div class="paymentBox">
      Name on card *
      <input class="nameInput" type="text" placeholder="Name On Card"></input>
      Card Number *
      <input class="cardNumber" type="tel" placeholder="Card Number"></input>
      expiartion date * <text style="float: right;">security code *</text>
      <div>
        <select >
          <option value="volvo">1</option>
          <option value="volvo">2</option>
          <option value="volvo">3</option>
          <option value="volvo">4</option>
          <option value="volvo">5</option>
          <option value="volvo">6</option>
          <option value="volvo">7</option>
          <option value="volvo">8</option>
          <option value="volvo">9</option>
          <option value="volvo">10</option>
          <option value="volvo">11</option>
          <option value="volvo">12</option>
        </select>
        <select >
          <option value="volvo">2023</option>
          <option value="volvo">2024</option>
          <option value="volvo">2025</option>
          <option value="volvo">2026</option>
          <option value="volvo">2027</option>
          <option value="volvo">2028</option>
          <option value="volvo">2029</option>
          <option value="volvo">2030</option>
          <option value="volvo">2031</option>
          <option value="volvo">2032</option>
          <option value="volvo">2033</option>
          <option value="volvo">2034</option>
          <option value="volvo">2035</option>
          <option value="volvo">2036</option>
          <option value="volvo">2037</option>
          <option value="volvo">2038</option>
          <option value="volvo">2039</option>
          <option value="volvo">2040</option>
          <option value="volvo">2041</option>
          <option value="volvo">2042</option>
        </select>
        
        <input type="number" max="999"></input>
    </div>
    <button class="payButton"> Confirm order and pay </button>
    </div>
  </body>
</html>
{% endblock content %}
