{% extends "base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>El Plato Dorado</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />
  </head>
  <body>
    <div class="background">
        <div class="dishbox2">
          <div class = "course" id = "orders">
            <div class="titles"><div class="name">Orders</div></div>
            {% for order in Orders %}
            <div class="container">
                <div class="header">
                    <div class="name">{{order.ID}}</div>
                    <div class="price">{{order.status}}</div>
                    <div class="details">
                        {% for i in order.orderedItems %} {{i}} {% endfor %}
                        <br/>
                        {{order.timeOfOrder}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
  </body>
</html>
{% endblock content %}