body {
  margin: 0;
  padding: 0;
  background-color: rgb(29, 29, 39);
}

.checkOutBox {
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  top: 15%;
  width: 40%;
  font-size: 90%;
  font-family: Montserrat;
  color: white;
}

.itemRow {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.itemNumber {
  text-align: left;
  width: 20%;
  height: 100%;
  margin-bottom: 2px;
}
.itemName {
  text-align: left;
  float: left;
  width: 50%;
  margin-bottom: 2px;
}
.itemPrice {
  text-align: right;
  float: right;
  width: 15%;
  height: 100%;
  margin-bottom: 2px;
}

.submitButton {
  width: 25%;
  text-align: center;
  margin-top: 50px;
  height: 4vh;

  background-color: transparent;
  float: right;
  border-width: 1.2px;
  border-color: white;
  font-size: 60%;
  font-family: Montserrat;
  color: white;
  border-top: none;
  border-bottom: none;
  border-width: 4px;
  border-color: transparent;
  transition: border-color 0.7s ease-in;
}

.submitButton:hover {
  border-color: white;
}
