.navbar {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-right: 1%;
}

.navButton {
  background-color: transparent;
  border-color: rgba(225, 225, 225, 0);
  border-style: solid;
  border-width: 4px;
  border-bottom: none;
  border-top: none;
  cursor: pointer;
  transition: border-color 0.7s ease-in;
}

/** Position the logo button on the navbar **/
.nav-left {
  margin-top: 1%;
  margin-right: auto;
  font-family: Verdana,sans-serif;
}

.text:hover navButton {
  border-color: rgba(225, 225, 225, 1);
}

.dropDownBtn, .nav-option {
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: Verdana,sans-serif;
  border-color: rgba(225, 225, 225, 0);
  border-style: solid;
  border-width: 4px;
  border-bottom: none;
  border-top: none;
  cursor: pointer;
  transition: border-color 0.7s ease-in;
  min-width: 160px;
}

.dropDownBtn:hover, .nav-option:hover {
  border-color: white;
}

.nav-option a {
  font-family: Verdana,sans-serif;
}

.myDropDown {
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  margin-top: 2.7vh;
  background-color: #1c3043;
  border-color: white;
  border-width: 5px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.myDropDown:focus-within .dropDownContent {
  display: block;
}

.dropDownBtn:focus {
  border-color: white;
}

.drop-down-option {
  background-color: transparent;
  color: white;
  font-size: 100%;
  border: 4px solid transparent;
  border-bottom: none;
  border-top: none;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
  transition: border-color 0.7s ease-in;
}

.drop-down-option:hover {
  border-color: white;
}

.down-sym {
  font-size: 15px;
}
