html {
  scroll-behavior: smooth;
  background-color: grey;
}

body {
  margin: 0;
  padding: 0;
}

.bg2 {
  background-color: rgb(30, 40, 44);
  height: 100vh;
}

.bg3 {
  background-color: rgb(53, 61, 64);
  height: 100vh;
}

.nav-options {
  font-size: 210%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Montserrat;
  color: white;
  text-decoration: none;
  padding: 0.2em;
}

.nav-btn {
  border: 3px solid transparent;
  border-bottom: none;
  border-top: none;
  margin-right: 0.2em;
}

.nav-options:hover {
  cursor: pointer;
  border-color: white;
  text-decoration: none;
  color: white;
}

.navigator {
  width: 100%;
  height: 8vh;
  background-color: black;
}

.logo {
  float: left;
  margin-right: 30vw;
}

.logobox {
  text-align: center;
}

.aboutTitle {
  text-align: center;
  font-size: 150%;
  font-family: Montserrat;
  color: rgb(161, 161, 161);
  letter-spacing: 5px;
  position: relative;
  top: 2%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.dishbox {
  float: left;
  width: 50%;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/images/dish.jpg");
}
