.searchbar {
    float: left;
    position: relative;
    top: 24px;
    margin-right: 6.6%;
}

.searchbar input {
    background-color: rgb(30, 40, 44);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    color: white;
    font-family: Montserrat;
    font-size: 134%;
}

.highlight {
    position: relative;
    padding: 1%;
    float: left;
    text-align: left;
    background-color: #1d0320;
    border-bottom: solid;
    width: 26%;
    color: white;
    font-size: 75%;
    font-family: Montserrat;
    border-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    filter: brightness(90%);
  }