html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  color: white;
  margin-right: 0px;
  text-decoration: none;
  outline: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: overlay;
}

a {
  text-decoration: none; /* no underline */
  margin: 0;
  padding: 0;
}

.bg {
  opacity: 1;
  opacity: 1;
  height: 100vh;
  background-color: rgb(29, 29, 39);
  background-color: rgb(29, 29, 39);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border-bottom: 20px solid rgb(194, 194, 194);
  border-bottom: 20px solid rgb(194, 194, 194);
}

.bg2 {
  background-color: rgb(29, 29, 39);
  height: 70vh;
  padding: 3rem;
  border-bottom: 20px solid rgb(194, 194, 194);
}

.bg3 {
  text-align: center;
  background-color: rgb(29, 29, 39);
  height: 70vh;
  border-bottom: 20px solid rgb(194, 194, 194);
  padding: 3rem;
}

.navbar {
  backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  height: 10vh;
  background-color: rgba(17, 23, 23, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#right {
  display: flex;
  align-items: center;
}

.navButton {
  background-color: transparent;
  border-color: rgba(225, 225, 225, 0);
  border-color: rgba(225, 225, 225, 0);
  border-style: solid;
  border-width: 4px;
  border-bottom: none;
  border-top: none;
  cursor: pointer;
  cursor: pointer;
  float: right;
  margin-left: 5px;
  margin-right: 15px;
  transition: border-color 0.7s ease-in;
}

.text:hover navButton {
  border-color: rgba(225, 225, 225, 1);
}

.logobox {
  position: absolute;
  top: 10vh;
  height: 80vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logobox > img {
  width: 50%;
}

.logotext {
  width: 35%;
  position: relative;
  top: 10%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Montserrat;
  color: white;
  letter-spacing: 2px;
  margin-right: 20px;
  margin-left: 20px;
}

.text:hover navButton {
  border-color: rgba(225, 225, 225, 1);
}

.logobox {
  position: absolute;
  top: 10vh;
  height: 80vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logobox > img {
  width: 50%;
}

.logotext {
  text-align: center;
  font-size: 150%;
  font-family: Montserrat;
  color: white;

  position: relative;
  top: 20%;
  border-bottom: 1px;
  border-color: white;
}

.aboutConatiner {
  opacity: 0;
  float: right;
  width: 35%;
  text-align: center;
  height: 80%;
  transition: opacity 3s ease-out;
}

.menuConatiner {
  opacity: 0;
  float: left;
  width: 30%;
  text-align: center;
  height: 80%;
  transition: opacity 7s ease-out;
}

.dishbox {
  opacity: 0;
  opacity: 0;
  float: left;
  width: 60%;
  width: 60%;
  height: 100%;
  filter: brightness(80%);
  background-position: 1500% 1500%;
  filter: brightness(80%);
  background-position: 1500% 1500%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/images/interior.jpg");
  transition: background-position 2s ease-out, opacity 6s ease-out;
}

.dishbox2 {
  float: right;
  width: 67%;
  height: 100%;
  filter: brightness(70%);
  filter: brightness(70%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/images/menuPicture.jpg");
  background-position: 0% -1500%;
  opacity: 0;
  transition: background-position 2s ease-out, opacity 6s ease-out;
  background-position: 0% -1500%;
  opacity: 0;
  transition: background-position 2s ease-out, opacity 6s ease-out;
}

.informationtext {
  position: relative;
  top: 25%;
  text-align: center;
  text-align: center;
  font-size: 100%;
  width: 100%;
  width: 100%;
  font-family: Montserrat;
  color: white;
  color: white;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.text {
  font-size: 150%;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Montserrat;
  color: white;

  margin-right: 20px;
  margin-left: 20px;
}

.navButton:hover {
  border-color: white;
}

.menuButton {
  margin-top: 5px;
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  text-align: center;
  position: relative;
  top: 40%;
  cursor: pointer;
  transition: border-color 1s ease;
}

.menuButton:hover {
  border-color: white;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
