<!--This is the HTML page that all pages under the kitchen app will inherit-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>El Plato Dorado</title>
    {% endif %}

    <script src="{% static 'javascript/animations.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'javascript/animations.js' %}" defer></script>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />
  </head>

  <body>
    <!--Display any error/warning messages if they exist-->
    {% if messages %}
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
      </div>
      {% endfor %}
    {% endif %}
    
    <!-- The navbar for the page-->
    <div class="bg">
      <div class="navbar">
        <!--Options which are siplayed on the left of the navbar-->
        <div id="left">
          <div class="text">
            <a class="nav-options" href="/">Oaxaca</a>
          </div>
        </div>
        <!--Options which are displayed on the right of the navbar-->
        <div id="right">
          <!--Only a logged in user should be able to see the logout link-->
          {% if user.is_authenticated %}
          <a class="nav-options nav-btn" href="{% url 'account-logout' %}">
            <button class="navButton">
              <div class="text">Logout</div>
            </button></a
          >
          {% endif %}
        </div>
      </div>
      <!--HTML pages which inherit from this page put there content in the div tag below-->
      <div>{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>