{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Exl Plato Dorado</title>
    {% endif %}

    <script src="{% static 'javascript/orderPopup.js' %}" defer></script>
    <script src="{% static 'javascript/logout.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/waiterBase.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />
  </head>

  <body>    
    <div>
      <div class="navbar">
        <div class="myDropDown">
          <button class="dropDownBtn"> Options </button>
          <div class="dropDownContent"><br>
              <a href="{% url 'menu' %}"> View Menu </a><br><br>
              <a href="{% url 'home' %}" onclick="scrollToAboutUs();"> About Us </a><br><br>
              <a href="{% url 'home' %}"> Home Page </a><br><br>
          </div>
        </div>
        
        <div class="myDropDown">
          <button class="dropDownBtn"> Account </button>
          <div class="dropDownContent"><br>
            <a href="{% url 'account-profile' %}"> View Profile </a><br><br>
            <a href="{% url 'account-logout' %}" onclick="showLogoutAlert();"> Logout </a><br><br>
          </div>
        </div>
      </div>

      {% if messages %} {% for message in messages %}
      <div class="pop-message {{ message.tags }}">
        {{ message }}
        <span class="pop-close-btn" onclick="this.parentElement.style.display='none';">&times;</span> 
      </div>
      {% endfor %} {% endif %}

      <div>{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>