{% extends "kitchenBase.html" %} {% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/order.css' %}" />
<script src = "{% static 'javascript/order.js' %}"></script>
<div class = "background">
	<div class = "orderbox">
		<div class = "title">Confirmed Orders</div>

		{% for order in cust_orders %} {% if order.status == "Confirmed" %}

		<div class = "order">
			<div class = "ordersummary">
				<div class = "orderno">{{order.ID}}</div>
			</div>
			<div class = "orderdetails">
				<select class="detailText">
					<option disabled selected hidden>Order Details</option>
					<option disabled>Order Placed at: {{order.timeOfOrder}}</option>
					<option disabled></option>
					<option disabled>Order placed by: {{order.customerID}}</option>
					<option disabled></option>
					<option disabled>Items Ordered:</option>
					{% for key, value in order.orderedItems.items %}
						<option disabled>{{key}}: x{{value}}</option>
					{% endfor %}
				</select>
			</div>



			<div class = "statusbar">
				<button class = "updatestatus"
						onclick = "updateOrderStatus(this)"
				>
				Mark as prepared
				</button>
			</div>
		</div>

		{%endif%}{%endfor%}

	</div>
</div>
{% endblock content %}