{% extends "kitchenBase.html" %} {% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'order.css' %}" />
<div class = "background">
	<div class = "orderbox">
		<div class = "title">Orders</div>

		{% for order in cust_orders %} {% if order.status == "Confirmed" %}

		<div class = "order">
			<div class = "ordersummary">
				<div class = "orderno">{{order.ID}}</div>
				<div class = "orderstatus">{{order.status}}</div>
			</div>
			<div class = "orderdetails">
				Items: {{order.orderedItems}}
				<br/><br/>
				Placed by: {{order.customerID}}
				<br/><br/>
				Placed at: {{order.timeOfOrder}}
			</div>
			<div class = "statusbar">
				<button class = "changestatus"
						onlick = "changeOrderStatus()"
				>
				Mark as prepared
				</button>
			</div>
		</div>

		{%endif%}{%endfor%}

	</div>
</div>
{% endblock content %}