{% extends "waiterBase.html" %}{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/changeMenu.css' %}" />

<div class = "menu-container">
  <h1 class = "title">Change Menu</h1>
  <form action="{% url 'changeMenu' %}" method="GET" id="menuForm">
    {% csrf_token %}

    <div class="input-container">
      <div class="input-field">
      <label class="input-label" for="menu">Choose item to edit or leave as "Select" to make a new item:</label>
      <select class="menuDropDown" name="menu" id="menuDropDown" onchange="location = this.value">
        <option disabled selected hidden>Select</option>
        {% for item in menuData %}
        <option value="{% url 'refreshMenu' item.name %}">
          {{ item.name }}
        </option>
        {% endfor %}
      </select>
      </div>

      <div class="input-field">
        <label class="input-label" for="name">Name:</label>
        <div class="inputBox" name="name">{{ form.name }}</div>
      </div>
    
      <div class="input-field">
        <label class="input-label" for="price">Price:</label> 
        <div class="inputBox" name="price">{{ form.price }}</div>
      </div>
    
      <div class="input-field">
        <label class="input-label" for="calories">Calories:</label> 
        <div class="inputBox" name="calories">{{ form.calories }}</div>
      </div>
    
      <div class="input-field">
        <label class="input-label" for="course">Course:</label> 
        <div class="inputBox" name="course">{{ form.course }}</div>
      </div>

      <div class="input-field">
        <label class="input-label" for="diet">Dietary Requirements:</label> 
        <div class="inputBox" name="diet">{{ form.dietRequirements }}</div>
      </div>

      <div class="input-field">
        <label class="input-label" for="alergies">Alergies:</label> 
        <div class="inputBox" name="alergies">{{ form.alergies }}</div>
      </div>

      <div class="input-field">
        <label class="input-label" for="desc">Description:</label> 
        <div class="inputBox" name="desc">{{ form.description }}</div>
      </div>

    </div>
  
    <div class="buttonRow">
      <input type="submit" class="submitButton" value="Save & Submit" />
      <button type="button" class="submitButton">
        <a href="{% url 'changeMenu' %}" id="buttonText">Clear Form</a>
      </button>
  
    
      {% if itemToDelete != None %}
      <button
        class="submitButton"
        type="button"
        value="Enabled"
        onclick="return confirm('Are you sure you want to delete this item?');"
      >
        <a href="{% url 'deleteItem' itemToDelete %}" id="buttonText"
          >Delete Item</a
        >
      </button>
      {% else %}
      <button type="button" disabled value="Disabled" class="submitButton">
        <a id="buttonText">Delete Item</a>
      </button>
      {% endif %}
    
    </div>
  </form>
</div>
{% endblock content %}
