{% extends "staffPage.html" %} 
{% block content %} 
{% load static %}



    <div class="bg">
      <br>
      <br>
      <form action="" method = "POST" id = "menuForm">
        <h3 id="heading">Use the below form to update the menu</h3>
        <ul>
          <li> Name: {{ form.name }} </li><br>
          <li> Price: {{ form.price }} </li><br>
          <li> Calories: {{ form.calories }} </li><br>
          <li> Cuisine: {{ form.cuisine }} </li><br>
          <li> Ingredients: {{ form.ingredients }} </li><br>
          <li> Course: {{ form.course }} </li><br>
          <li> Dietary Requirements: {{ form.dietRequirements }} </li><br>
        </ul>
        <input type = "submit" value = "Save & Submit">
        <input type = "submit" value = "Cancel">
        <input type = "submit" value = "Delete Item">
      </form>
    </div>


{% endblock content %} 