{% extends 'waiterBase.html' %}

{% block content %}
{% load static %}
<style>

  h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 24px;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  td {
    color: white; 
  }

  td form {
    display: flex;
    justify-content: center;
  }

  td button[type="submit"] {
    background-color: #b52323;
    border: none;
    color: white;
    padding: 8px 16px;
  }

  td button[type="submit"]:hover {
    background-color: #b52323;
  }
</style>

  </style>
  <h1>Client Help Requests</h1>
  <table>
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Customer ID</th>
        <th>Message</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      {% for help_request in help_requests %}
        <tr>
          <td>{{ help_request.requestID }}</td>
          <td>{{ help_request.customerID }}</td>
          <td>{{ help_request.message }}</td>
          <td>
            <form action="{% url 'deleteHelpRequests' %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this help request?')">
              {% csrf_token %}
              <input type="hidden" name="customerID" value="{{ help_request.customerID.id }}">
              <input type="hidden" name="requestID" value="{{ help_request.requestID }}">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}