{% extends "staffPage.html" %} 
{% block content %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/changeMenu.css' %}" />

<div class="bg">

    <h3 id="heading">Customer Orders</h3>
    <form name = "myForm">
    {% for order in cust_orders %}

    <input type="radio" name="orderChoices" value = {{order.ID}}><a id="orderHeadings"> Order {{ order.ID }}: </a> <br>
    <a> Status: {{ order.status }} </a> <br>
    <a> Ordered by: {{ order.customerID }} </a> <br>
    <a> Ordered at: {{ order.timeOfOrder }} </a> <br>
    <a> Ordered items: {{ order.orderedItems }} </a> <br> <br>

    {% endfor %}
    </form>

    <button type="button" onclick="getSelectedValue();"><a href="{% url 'updateStatus' %}" id="buttonText">Confirm Order</a></button>

</div>
{% endblock content %} 