{% extends "waiterBase.html" %} 
{% block content %} 
{% load static %}

<script src="{% static 'javascript/confirm-deletion.js' %}" defer></script>
<script src="{% static 'javascript/order-box.js' %}" defer></script>
<script src="{% static 'javascript/orderPopup.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/orderWaiter.css' %}" />
<link rel="stylesheet" href="{% static 'css/popup.css' %}" />

<div class = "order-container">
    <br><br><br>
    <div class = "title">Orders</div>
    <div class="collapsibleMenu">
        <button type="button" class="collapsible">View Placed Orders</button>
        <div class="content">
            {% if placed_orders == None %}
                <h3 style="color: white;">There are currently no orders to view</h3>
            {% else %}
            {% for order in placed_orders %}
                <div class = "order-box-outer" id = "{{ order.ID }}" tabindex="0" id="outer">
                    <div class = "order-box-inner">
                        <div class = "order-box-front">
                            <div class = "ordersummary">
                                <span class = "order-card-head">#{{order.ID}}</span>
                                <button onclick="rotate('{{ order.ID }}')" class = "view-item-btn">Items</button>
                            </div>
                            <div class = "orderdetails">
                                Placed by: {{order.customerID}}
                                <br/><br/>
                                Placed at: {{order.timeOfOrder}}
                            </div>
                            <div class = "statusbar">
                                    <button class = "updatestatus">
                                        <a href="{% url 'updateStatus' order.ID %}" id="buttonText">Confirm order</a>
                                    </button>
                                    <br><br>
                                    <button class = "updatestatus" id="deleteBtn" onclick="confirmDeletion()">Cancel Order</button>
                                <button class = "updatestatus" style = "visibility: hidden;" id = "confirmation">
                                    <a href="{% url 'deleteOrder' order.ID %}" id="buttonText">Are you sure?</a>
                                </button>
                            </div>
                        </div>
                        <div class="order-box-back">
                            <div class = "ordersummary">
                                <span class = "order-card-head"> Ordered Items </span>
                                <button onclick="rotate('{{ order.ID }}')" class = "view-item-btn">View Order Details</button>
                            </div>
                            {% with items=order.orderedItems %}
                                {% for food, quantity in items.items %}
                                    <p class="food-text">{{ food }} X {{ quantity }}</p>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>

        <button type="button" class="collapsible">View Prepared Orders</button>
        <div class="content">
            {% if prepared_orders == None %}
                <h3 style="color: white;">There are currently no orders to view</h3>
            {% else %}
            {% for order in prepared_orders %}
                <div class = "order-box-outer" id = "{{ order.ID }}" tabindex="0" id="outer">
                    <div class = "order-box-inner">
                        <div class = "order-box-front">
                            <div class = "ordersummary">
                                <span class = "order-card-head">#{{order.ID}}</span>
                                <button onclick="rotate('{{ order.ID }}')" class = "view-item-btn">
                                    Items
                                </button>
                            </div>
                            <br>
                            <div class = "orderdetails">
                                Placed by: {{order.customerID}}
                                <br/><br/>
                                Placed at: {{order.timeOfOrder}}
                            </div>
                            <div class = "statusbar">
                                <button class = "updatestatus">
                                    <a href="{% url 'updateStatus' order.ID %}" id="buttonText">Mark as Delivered</a>
                                </button>
                            </div>
                        </div>
                        <div class="order-box-back">
                            <div class = "ordersummary">
                                <span class = "order-card-head"> Items </span>
                                <button onclick="rotate('{{ order.ID }}')" class = "view-item-btn">View Order Details</button>
                            </div>
                            {% with items=order.orderedItems %}
                                {% for food, quantity in items.items %}
                                    <p class="food-text">{{ food }} X {{ quantity }}</p>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>

        <button type="button" class="collapsible">View Delivered Orders</button>
        <div class="content">
            {% if delivered_orders == None %}
                <h3 style="color: white;">There are currently no orders to view</h3>
            {% else %}
            {% for order in delivered_orders %}
                <div class = "order-box-outer" id = "{{ order.ID }}" tabindex="0" id="outer">
                    <div class = "order-box-inner">
                        <div class = "order-box-front">
                            <div class = "ordersummary">
                                <span class = "order-card-head">#{{order.ID}}</span>
                                <button onclick="rotate('{{ order.ID }}')" class = "view-item-btn">Items</button>
                            </div>
                            <br>
                            <div class = "orderdetails">
                                Placed by: {{order.customerID}}
                                <br/><br/>
                                Placed at: {{order.timeOfOrder}}
                            </div>

                            <div class = "statusbar">
                                <button class = "updatestatus" id="deleteBtn" onclick="confirmDeletion()">Delete order</button>

                                <button class = "updatestatus" style = "visibility: hidden;" id = "confirmation">
                                    <a href="{% url 'deleteOrder' order.ID %}" id="buttonText">Are you sure?</a>
                                </button>
                            </div>
                        </div>
                        <div class="order-box-back">
                            <div class = "ordersummary">
                                <span class = "order-card-head"> Items </span>
                                <button onclick="rotate('{{ order.ID }}')" class = "view-item-btn">
                                    View Order Details
                                </button>
                            </div>
                            {% with items=order.orderedItems %}
                                {% for food, quantity in items.items %}
                                    <p class="food-text">{{ food }} X {{ quantity }}</p>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
