{% extends "waiterBase.html" %} 
{% block content %} 
{% load static %}

<script src="{% static 'javascript/confirm-deletion.js' %}" defer></script>
<script src="{% static 'javascript/order-box.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/orderWaiter.css' %}" />
<link rel="stylesheet" href="{% static 'css/popup.css' %}" />

<div class = "order-container">
    <div class = "title">{{ pageTitle }}</div>
    {% for order in cust_orders %}"
        <div class = "order-box-outer" id = "{{ order.ID }}" tabindex="0" id="outer">
            <div class = "order-box-inner">
                <div class = "order-box-front">
                    <div class = "ordersummary">
                        <span class = "order-card-head">#{{order.ID}}</span>
                        <button onclick="rotate('{{ order.ID }}')" class = "view-item-btn">
                            View Orderd Items
                        </button>
                    </div>
                    <div class = "orderdetails">
                        Placed by: {{order.customerID}}
                        <br/><br/>
                        Placed at: {{order.timeOfOrder}}
                    </div>

        <input type="radio" name="orderChoices" value = {{order.ID}}><a id="orderHeadings"> Order {{ order.ID }}: </a> <br>
        <a> Status: {{ order.status }} </a> <br>
        <a> Ordered by: {{ order.customerID }} </a> <br>
        <a> Ordered at: {{ order.timeOfOrder }} </a> <br>
        <a> Ordered items: {{ order.orderedItems }} </a> <br> <br>

        {% endfor %}
        </form>

        <button type="button" onclick="getSelectedValue();"><a href="{% url 'updateStatus' %}" id="buttonText">Confirm Order</a></button>

    </div>
    {% endblock content %} 