{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Staff Area</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <style>
        #navBar {
            padding-left: 350px;
            padding-top: 0px;
            width : 800px;
            margin: 0 auto;
        }
        #menuForm {
          padding-left: 600px;
          padding-top: 50px;
          color: white;
        }
    </style>

    
  </head>

  <body>
    <div class="bg">

      <div class="navbar" id="navBar">
        <a class = "nav-options nav-btn", href="{% url 'home' %}">
        <button class="navButton">
            <div class="text">Logout/Home</div>
        </button>
        </a>

        <a class = "nav-options nav-btn", href="{% url 'changeMenu' %}">
        <button class="navButton">
            <div class="text">Update Menu</div>
        </button>
        </a>
        
        <a class = "nav-options nav-btn", href="{% url 'viewOrders' %}">
        <button class="navButton">
            <div class="text">View Orders</div>
        </button>
        </a>
      </div>

      <div>{% block content %}{% endblock %}</div>

    </div>

    
    
  </body>

</html>