{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Update Menu</title>
    {% endif %}

    <script src="{% static 'javascript/animations.js' %}" defer></script>
    <script src="{% static 'javascript/orderPopup.js' %}" defer></script>
    <script src="{% static 'javascript/logout.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/waiterBase.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />

  </head>

  <body>
    <div>
      <div class="navbar">
        <div class = "nav-left">
          <a href="{% url 'home' %}" class="text navTitle"> Oaxaca </a><br><br>
        </div>

          <div class="myDropDown">
            <button class="nav-option"><a href="{% url 'menu' %}"> View Menu </a></button>
          </div>
          
          <div class="myDropDown">
            <button class="dropDownBtn"> Account <span class="down-sym">&#9660;</span></button>
            <div class="dropDownContent"><br>
              {% if user.is_authenticated %}
              <a class="drop-down-option" href="{% url 'account-profile' %}"> View Profile </a><br><br>
              <a class="drop-down-option" href="{% url 'account-logout' %}" onclick="showLogoutAlert();"> Logout </a><br><br>
              {% else %}
              <a class="drop-down-option" href="/account/login/"> Login </a><br><br>
              <a class="drop-down-option" href="/account/signup/"> Register </a><br><br>
              {% endif %}
            </div>
          </div>

        <div class="myDropDown">
          <button class="dropDownBtn"> Staff <span class="down-sym">&#9660;</span></button>
          <div class="dropDownContent"><br>
            <a class="drop-down-option" class="hello" href="{% url 'viewOrders' %}"> Waiter Orders </a><br><br>
            <a class="drop-down-option" href="{% url 'changeMenu' %}"> Update Menu </a><br><br>
            <a class="drop-down-option" href="{% url 'clientHelpRequests' %}"> Help Requests </a><br><br>
            <a class="drop-down-option" href="{% url 'showPayments' %}"> Payments </a><br><br>
          </div>
        </div>

      </div>

      {% if messages %} {% for message in messages %}
      <div class="pop-message {{ message.tags }}">
        {{ message }}
        <span class="pop-close-btn" onclick="this.parentElement.style.display='none';">&times;</span> 
      </div>
      {% endfor %} {% endif %}

      <div>{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
