{% extends 'waiterBase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/waiterHome.css' %}" />
<div class = "grid-container">
    <div class = "grid-item">
      <button class="choiceButton">
        <a href="{% url 'clientHelpRequests' %}" id="choiceText">View Help Requests</a>
      </button>
    </div>
    <div class = "grid-item">
        <button class="choiceButton">
            <a href="{% url 'viewOrders' %}" id="choiceText">View Orders</a>
          </button>
    </div>
    <div class = "grid-item">
        <button class="choiceButton">
            <a href="{% url 'changeMenu' %}" id="choiceText">Update Menu</a>
        </button>
    </div>
    <div class = "grid-item">
        <button class="choiceButton">
            <a href="{% url 'showPayments' %}" id="choiceText">View Payments</a>
        </button>
    </div>
</div>

{% endblock %}