{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Update Menu</title>
    {% endif %}

    <script src="{% static 'javascript/animations.js' %}" defer></script>
    <script src="{% static 'javascript/animations.js' %}" defer></script>
    <script src="{% static 'javascript/orderPopup.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/waiterBase.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />
    
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat"
    />

  </head>

  <body>
    <div>
      <div class="navbar">
        <div id="left">
          <div class="text">
            <a class="nav-options" href="/">Oaxaca</a>
          </div>
        </div>
        <div id="right">

          <a href="{% url 'home' %}">
            <button class="navButton">
              <div class="text">Home</div>
            </button>
          </a>
		  <a>
			<button onclick="history.back()">
				<div class="text">Go Back<div>
			</button>
		
		  </a>
          {% if user.is_authenticated %}
          <a class="nav-options nav-btn" href="{% url 'account-logout' %}">
            <button class="navButton">
              <div class="text">Logout</div>
            </button></a
          >
          <a class="nav-options nav-btn" href="{% url 'account-profile' %}">
            <button class="navButton">
              <div class="text">Profile</div>
            </button></a
          >

          {% else %}
          <a href="/account/login/">
            <button class="navButton">
              <div class="text">Login</div>
            </button>
          </a>
          <a href="/account/signup/">
            <button class="navButton">
              <div class="text">Register</div>
            </button>
          </a>
          {% endif %}
        </div>
      </div>

      {% if messages %} {% for message in messages %}
        <div class="pop-message {{ message.tags }}">{{ message }}</div>
      {% endfor %} {% endif %}

      <div>{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
