.orderbox {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    margin-top: 10%;
    width: 80%;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.title {
    font-family: Montserrat;
    font-size: 120%;
    color: white;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1%;
}